* {
  margin: 0;
  padding: 0;
}
.img {
  /* height: 100px;
  width: 500px; */
  display: block;
  margin: auto;
  
  min-height: 100px;
  max-height: 500px;
  min-width: 100px;
  max-width: 500px;
}

@media screen {
  .img {
    width: auto;
    height: auto;
  }
}
