.cont {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.shadow_box {
  height: 500px;
  width: 50%;
  margin: 100px 0px 0px 100px;
  background-color: aquamarine;
  box-shadow: 0px 0px 10px 20px black inset;
}

.shadow_box2 {
  height: 500px;
  width: 50%;
  margin: 100px 0px 0px 100px;
  background-color: rebeccapurple;
  box-shadow: 0px 0px 10px 5px black;
}
.shadow_box3 {
  height: 500px;
  width: 50%;
  margin: 100px 0px 0px 100px;
  background-color: red;
  box-shadow: 0px 0px 20px 20px yellowgreen inset, 0px 0px 20px 50px black inset;
}
.shadow_box4 {
  height: 500px;
  width: 50%;
  margin: 100px 0px 0px 100px;
  background-color: green;
  box-shadow: 100px 10px 100px 10px black;
}
